<% if !doctor.nil? %>
    <div class="card_doctor">
    <% if doctor.avatar.attached? %>
 <div class="photo" style="background-image: linear-gradient(rgba(241,209,209,0.1), rgba(250,242,242,0.1)),
                    url(<%= cl_image_path doctor.avatar.key , height: 300, width: 300, crop: :fill, gravity: :face; %>)">
        </div>
<%end%>
        <div class="info" >
          <% str = "" %>
            <h2 id="title"><%= "#{doctor.civility} #{doctor.first_name.capitalize} #{doctor.last_name.upcase}" %></h2>
          <% doctor.jobs.each_with_index do |j,i| %>
            <% if i == doctor.jobs.count - 1 %>
              <% str << j.job_name.capitalize %>
            <% else %>
              <% str << "#{j.job_name.capitalize}, " %>
            <% end  %>
          <% end %>

            <p id="jobs"><%= str %></p>
            <p id="phone">Contact : <%= doctor.phone%></p>
            <p id="description"><%= doctor.description %></p>

            <% if doctor.activities.count == 1 %>
              <p id="info-specialities" >Ma spécialité :</p>
            <% elsif doctor.activities.count > 1 %>
              <p id="info-specialities" >Mes spécialités :</p>
            <% end %>

            <% doctor.activities.each do |a| %>
              <li class="info-speciality"> <%= a.speciality.name %></li>
            <% end %>

            <%= link_to user_path(doctor) do  %>
                         <p class="button accept info-button" remote="true">contactez-moi</p>
            <% end %>

        </div>
</div>
<%end%>
