<div class="footer">

<div class="footer-top">
  <div class="footer-top-a-propos">
    <p>
      <%= link_to nil do %>
        À propos de Ma Séance
      <% end %>
      &#8226

      <%= link_to nil do %>
        Le projet
      <% end %>
      &#8226 <br>

      <%= link_to nil do %>
        Contacts
      <% end %>
      &#8226

      <%= link_to nil do %>
        Besoin d'aide ?
      <% end %>
   </p>
  </div>

  <div class="footer-top-socialmedia">

    <%= link_to "https://www.facebook.com/" do %>
      <i class="fab fa-facebook-square "></i>
    <% end %>

    <%= link_to "https://www.linkedin.com/" do %>
      <i class="fab fa-linkedin "></i>
    <% end %>

    <%= link_to "https://twitter.com/" do %>
      <i class="fab fa-twitter-square "></i>
    <% end %>

    <%= link_to "https://www.instagram.com/" do %>
      <i class="fab fa-instagram-square "></i>
    <% end %>

  </div>
</div>

  <div class="separation"></div>
  <div class="footer-condition-utilisation">

   <p><strong>Copyright © 2020 MaSeance</strong> &#8226
    <%= link_to nil do %>
      Conditions d'utilisation
    <% end %>
    &#8226

    <%= link_to "http://psychologie.aujourdhui.com/therapies/liste-therapies.asp" do %>
      Annuaire des thérapies
    <% end  %>
    &#8226

    <%= link_to "https://monpsy.psychologies.com/" do %>
      Annuaire des praticiens
    <% end  %>
    &#8226

    <%= link_to nil do %>
      Autres
    <% end  %>

  </div>
</div>
