<% if user_signed_in? %>
    <!-- <nav class="navbar navbar-expand-lg d-flex navbar-light justify-content-around fixed-top"> -->
    <nav class="navbar fixed-top">

    <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag "meridiennebleue.png" %>
    <% end %>

                    <div class="div-navbar-title">
                        <!-- flex-grow-1 d-flex justify-content-center pd-2"> -->
                        <%= link_to "ma séance", root_path, class: "navbar-title text-center animate__animated animate__flipInX animate__slower" %>
                    </div>

                    <div class="nav-item dropdown  mr-2">
                        <%= image_tag "avatar.jpg", class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-nav cancel p-0" aria-labelledby="navbarDropdown">
                                <%= link_to "Mes conversations", chatrooms_path, class: "dropdown-item cancel" %>
                                    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item cancel" %>
                            </div>
                    </div>
    </nav>

    <div>

        <svg class="navbar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
<defs>
<linearGradient id="lgrad" x1="0%" y1="50%" x2="100%" y2="50%" >
<stop offset="0%" style="stop-color:rgb(250,242,242);stop-opacity:1" />
<stop offset="50%" style="stop-color:rgb(243,225,225);stop-opacity:1" />
<stop offset="100%" style="stop-color:rgb(250,242,242);stop-opacity:1" />
</linearGradient>
</defs>
<path fill="url(#lgrad)" fill-opacity="1" d="M0,128L120,122.7C240,117,480,107,720,106.7C960,107,1200,117,1320,122.7L1440,128L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>

    </div>
    <% else %>
        <!-- <nav class="navbar navbar-expand-lg d-flex navbar-light align-content-center justify-content-between fixed-top"> -->
        <nav class="navbar fixed-top">

    <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag "meridiennebleue.png" %>
    <% end %>

                        <!-- <div class="flex-grow-1 d-flex justify-content-center"> -->
                        <div class="div-navbar-title">
                            <%= link_to "ma séance", root_path, class: "navbar-title text-center animate__animated animate__flipInX animate__slower" %>
                        </div>
                        <div class="nav-item d-flex">
                            <%= link_to "Connexion", new_user_session_path, class: "button accept nav-link" %>
                        </div>


        </nav>
        <div>

            <svg class="navbar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
<defs>
<linearGradient id="lgrad" x1="0%" y1="50%" x2="100%" y2="50%" >
<stop offset="0%" style="stop-color:rgb(250,242,242);stop-opacity:1" />
<stop offset="50%" style="stop-color:rgb(243,225,225);stop-opacity:1" />
<stop offset="100%" style="stop-color:rgb(250,242,242);stop-opacity:1" />
</linearGradient>
</defs>
<path fill="url(#lgrad)" fill-opacity="1" d="M0,128L120,122.7C240,117,480,107,720,106.7C960,107,1200,117,1320,122.7L1440,128L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>


        <% end %>