<!DOCTYPE html>
<html>
  <head>
    <title>MaSeance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless action_name == "doctor_message_box" %>
    <%= render 'shared/navbar' %>
    <%= end %>
    <%= render 'shared/flashes' %>

      <%= yield %>



    <%= render 'shared/footer' %>
  </body>
</html>
